<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Aceout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a [routerLink]="[ '/course-paths' ]" class="nav-link">{{'Course paths' | translate}}</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[ '/my-courses' ]" class="nav-link">{{'My courses' | translate}}</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[ '/informations' ]" class="nav-link">{{'Informations' | translate}}</a>
            </li>
          </ul>
        </div>
      </nav>