<div class="component-panel">
        <div class="header">
                <h5>{{'Category management' | translate}}</h5>
        </div>
        <div class="toolbar">
                <toolbar-item (click)="addCategory()" [text]="'Add category'" [icon]="'plus'" [color]="'white'"></toolbar-item>
        </div>
        <div class="single-tab">
                <ag-grid-angular [columnDefs]="columns" class="ag-theme-balham" [enableSorting]="true"
                        (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents"
                        [suppressCellSelection]="true" [infiniteInitialRowCount]="1" [maxBlocksInCache]="2"
                        [cacheOverflowSize]="2" [rowModelType]="'infinite'" [enableServerSideSorting]="true"
                        [paginationPageSize]="20" style="height: 600px;"></ag-grid-angular>
        </div>
</div>